## Data aggregation of energy market prices in bidding zone NO1 (Norway Ã˜stlandet) and neighbouring zones for the year of 2022

### Dependencies

In [1]:
# importing dependencies to aggregate dataset
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from functools import reduce # used to merge the dataset

### Aggregation of pricing data
Pricing data is of spot (day-ahead) market prices in the currency Euro per MWh

Importing price data from each zone

In [2]:
prices_no1 = pd.read_csv("../datasets/prices/NO1 Day-ahead Prices_202201010000-202301010000.csv")
prices_no2 = pd.read_csv("../datasets/prices/NO2 Day-ahead Prices_202201010000-202301010000.csv")
prices_no3 = pd.read_csv("../datasets/prices/NO3 Day-ahead Prices_202201010000-202301010000.csv")
prices_no5 = pd.read_csv("../datasets/prices/NO5 Day-ahead Prices_202201010000-202301010000.csv")
prices_se3 = pd.read_csv("../datasets/prices/SE3 Day-ahead Prices_202201010000-202301010000.csv")

Printing out first rows of each dataset to see the structure

In [3]:
prices_no1.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO1
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,EUR,NaN

In [4]:
prices_no2.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO2
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,EUR,NaN

In [5]:
prices_no3.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO3
0,01.01.2022 00:00 - 01.01.2022 01:00,46.60,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,41.33,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,42.18,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,44.37,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,37.67,EUR,NaN

In [6]:
prices_no5.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO5
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,EUR,NaN

In [7]:
prices_se3.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00,46.60,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,41.33,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,42.18,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,44.37,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,37.67,EUR,NaN

#### preperation for merging of the price data from the different zones:
The common column we will merge the data based on is the date time column "MTU (CET/CEST)". The column currency is redundant since the column that holds price already includes it in the column name. The currency column can therefore be dropped. The datasets have a colum name for which zone the data is from, but does not include any data for each entry. This information can be added to the column name for price and the column for zone can be dropped.

In [8]:
# renaming price columns
prices_no1 = prices_no1.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO1'})
prices_no2 = prices_no2.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO2'})
prices_no3 = prices_no3.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO3'})
prices_no5 = prices_no5.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO5'})
prices_se3 = prices_se3.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|SE3'})

In [9]:
# dropping redundant columns
prices_no1= prices_no1.drop(['Currency', 'BZN|NO1'], axis=1)
prices_no2= prices_no2.drop(['Currency', 'BZN|NO2'], axis=1)
prices_no3= prices_no3.drop(['Currency', 'BZN|NO3'], axis=1)
prices_no5= prices_no5.drop(['Currency', 'BZN|NO5'], axis=1)
prices_se3= prices_se3.drop(['Currency', 'BZN|SE3'], axis=1)

In [10]:
# merging the price data into one dataframe on the date time column 'MTU (CET/CEST)'
price_data_frames = [prices_no1, prices_no2, prices_no3, prices_no5, prices_se3]
prices = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), price_data_frames)

# printing out the resulting dataframe
prices.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh] BZN|NO1,Day-ahead Price [EUR/MWh] BZN|NO2,Day-ahead Price [EUR/MWh] BZN|NO3,Day-ahead Price [EUR/MWh] BZN|NO5,Day-ahead Price [EUR/MWh] BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,132.89,46.60,132.89,46.60
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,129.30,41.33,129.30,41.33
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,132.08,42.18,132.08,42.18
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,111.44,44.37,111.44,44.37
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,112.35,37.67,112.35,37.67

### Aggregation of load data
The load data contains data about the power consumption in each zone

Importing load data from each zone

In [11]:
load_no1 = pd.read_csv("../datasets/load/NO1 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_no2 = pd.read_csv("../datasets/load/NO2 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_no3 = pd.read_csv("../datasets/load/NO3 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_no5 = pd.read_csv("../datasets/load/NO5 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_se3 = pd.read_csv("../datasets/load/SE3 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")

Printing out first rows of each dataset to see the structure

In [12]:
load_no1.head()

,Time (CET/CEST),Day-ahead Total Load Forecast [MW] - BZN|NO1,Actual Total Load [MW] - BZN|NO1
0,01.01.2022 00:00 - 01.01.2022 01:00,4440.0,4779.0
1,01.01.2022 01:00 - 01.01.2022 02:00,4492.0,4701.0
2,01.01.2022 02:00 - 01.01.2022 03:00,4371.0,4681.0
3,01.01.2022 03:00 - 01.01.2022 04:00,4234.0,4620.0
4,01.01.2022 04:00 - 01.01.2022 05:00,4225.0,4645.0

In [13]:
load_no2.head()

,Time (CET/CEST),Day-ahead Total Load Forecast [MW] - BZN|NO2,Actual Total Load [MW] - BZN|NO2
0,01.01.2022 00:00 - 01.01.2022 01:00,3248.0,4357.0
1,01.01.2022 01:00 - 01.01.2022 02:00,4170.0,4440.0
2,01.01.2022 02:00 - 01.01.2022 03:00,3796.0,4480.0
3,01.01.2022 03:00 - 01.01.2022 04:00,3423.0,4424.0
4,01.01.2022 04:00 - 01.01.2022 05:00,3439.0,4386.0

In [14]:
load_no3.head()

,Time (CET/CEST),Day-ahead Total Load Forecast [MW] - BZN|NO3,Actual Total Load [MW] - BZN|NO3
0,01.01.2022 00:00 - 01.01.2022 01:00,3125.0,3487.0
1,01.01.2022 01:00 - 01.01.2022 02:00,3235.0,3463.0
2,01.01.2022 02:00 - 01.01.2022 03:00,3158.0,3388.0
3,01.01.2022 03:00 - 01.01.2022 04:00,3047.0,3387.0
4,01.01.2022 04:00 - 01.01.2022 05:00,3052.0,3376.0

In [15]:
load_no5.head()

,Time (CET/CEST),Day-ahead Total Load Forecast [MW] - BZN|NO5,Actual Total Load [MW] - BZN|NO5
0,01.01.2022 00:00 - 01.01.2022 01:00,1389.0,1950.0
1,01.01.2022 01:00 - 01.01.2022 02:00,1427.0,1991.0
2,01.01.2022 02:00 - 01.01.2022 03:00,1460.0,1969.0
3,01.01.2022 03:00 - 01.01.2022 04:00,1493.0,1911.0
4,01.01.2022 04:00 - 01.01.2022 05:00,1472.0,1996.0

In [16]:
load_se3.head()

,Time (CET/CEST),Day-ahead Total Load Forecast [MW] - BZN|SE3,Actual Total Load [MW] - BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00,9577.0,9685.0
1,01.01.2022 01:00 - 01.01.2022 02:00,9483.0,9612.0
2,01.01.2022 02:00 - 01.01.2022 03:00,9435.0,9601.0
3,01.01.2022 03:00 - 01.01.2022 04:00,9402.0,9552.0
4,01.01.2022 04:00 - 01.01.2022 05:00,9453.0,9449.0

#### preperation for merging of the load data from the different zones:
The common values we will merge the data based on is the date time column "Time (CET/CEST)", however this column is named "MTU (CET/CEST)" in the prices dataset. The time column will be renamed to "MTU (CET/CEST)" so that the datasets can be merged. The column "Day-ahead Total Load Forecast" is redundant since we have the actual total load, so the forecast column will be dropped.

In [17]:
# dropping redundant columns
load_no1 = load_no1.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO1'], axis=1)
load_no2 = load_no2.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO2'], axis=1)
load_no3 = load_no3.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO3'], axis=1)
load_no5 = load_no5.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO5'], axis=1)
load_se3 = load_se3.drop(['Day-ahead Total Load Forecast [MW] - BZN|SE3'], axis=1)

In [18]:
# renaming time columns
load_no1 = load_no1.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_no2 = load_no2.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_no3 = load_no3.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_no5 = load_no5.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_se3 = load_se3.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})

In [19]:
# merging the load data into one dataframe on the date time column 'MTU (CET/CEST)'
load_data_frames = [load_no1, load_no2, load_no3, load_no5, load_se3]
loads = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), load_data_frames)

# printing out the resulting dataframe
loads.head()

,MTU (CET/CEST),Actual Total Load [MW] - BZN|NO1,Actual Total Load [MW] - BZN|NO2,Actual Total Load [MW] - BZN|NO3,Actual Total Load [MW] - BZN|NO5,Actual Total Load [MW] - BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00,4779.0,4357.0,3487.0,1950.0,9685.0
1,01.01.2022 01:00 - 01.01.2022 02:00,4701.0,4440.0,3463.0,1991.0,9612.0
2,01.01.2022 02:00 - 01.01.2022 03:00,4681.0,4480.0,3388.0,1969.0,9601.0
3,01.01.2022 03:00 - 01.01.2022 04:00,4620.0,4424.0,3387.0,1911.0,9552.0
4,01.01.2022 04:00 - 01.01.2022 05:00,4645.0,4386.0,3376.0,1996.0,9449.0

In [20]:
# TODO: handle missing values: NB! Bytt til det endelige datasettet, itte det for prices!!!!!!!!!

In [21]:
# checking data for missing values, if any
prices.isna().sum()

MTU (CET/CEST)                       0
Day-ahead Price [EUR/MWh] BZN|NO1    1
Day-ahead Price [EUR/MWh] BZN|NO2    1
Day-ahead Price [EUR/MWh] BZN|NO3    1
Day-ahead Price [EUR/MWh] BZN|NO5    1
Day-ahead Price [EUR/MWh] BZN|SE3    1
dtype: int64

In [22]:
# checking which row is missing values
null_data = prices[prices.isnull().any(axis=1)]

In [23]:
null_data

,MTU (CET/CEST),Day-ahead Price [EUR/MWh] BZN|NO1,Day-ahead Price [EUR/MWh] BZN|NO2,Day-ahead Price [EUR/MWh] BZN|NO3,Day-ahead Price [EUR/MWh] BZN|NO5,Day-ahead Price [EUR/MWh] BZN|SE3
2042,27.03.2022 02:00 - 27.03.2022 03:00,NaN,NaN,NaN,NaN,NaN

This row is created as a result of the move from winter time to summer time

### Aggregation of energy generation data

In [24]:
actual_generation_no1 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO1 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_no2 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO2 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_no3 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO3 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_no5 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO5 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_se3 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/SE3 Actual Generation per Production Type_202201010000-202301010000.csv")

In [25]:
actual_generation_no1.head()

,Area,MTU,Biomass - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],Fossil Peat - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
0,BZN|NO1,01.01.2022 00:00 - 01.01.2022 01:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,899.0,353.0,n/e,n/e,n/e,n/e,n/e,9.0,n/e,139.0
1,BZN|NO1,01.01.2022 01:00 - 01.01.2022 02:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,878.0,321.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,172.0
2,BZN|NO1,01.01.2022 02:00 - 01.01.2022 03:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,897.0,330.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,151.0
3,BZN|NO1,01.01.2022 03:00 - 01.01.2022 04:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,885.0,275.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,160.0
4,BZN|NO1,01.01.2022 04:00 - 01.01.2022 05:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,890.0,269.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,148.0

In [26]:
# Renaming every column to have zones instead of using a column for 'Area'
actual_generation_no1.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO1', 'Fossil Brown coal/Lignite - BZN|NO1', 'Fossil Coal-derived gas - BZN|NO1', 'Fossil Gas - BZN|NO1', 'Fossil Hard coal - BZN|NO1', 'Fossil Oil - BZN|NO1', 'Fossil Oil shale - BZN|NO1', 'Fossil Peat - BZN|NO1', 'Geothermal - BZN|NO1', 'Hydro Pumped Storage Aggregated- BZN|NO1', 'Hydro Pumped Storage Consumption - BZN|NO1', 'Hydro Run-of-river and poundage - BZN|NO1', 'Hydro Water Reservoir - BZN|NO1', 'Marine - BZN|NO1', 'Nuclear - BZN|NO1', 'Other - BZN|NO1', 'Other renewable - BZN|NO1', 'Solar - BZN|NO1', 'Waste - BZN|NO1', 'Wind Offshore - BZN|NO1', 'Wind Onshore - BZN|NO1']
actual_generation_no2.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO2', 'Fossil Brown coal/Lignite - BZN|NO2', 'Fossil Coal-derived gas - BZN|NO2', 'Fossil Gas - BZN|NO2', 'Fossil Hard coal - BZN|NO2', 'Fossil Oil - BZN|NO2', 'Fossil Oil shale - BZN|NO2', 'Fossil Peat - BZN|NO2', 'Geothermal - BZN|NO2', 'Hydro Pumped Storage Aggregated- BZN|NO2', 'Hydro Pumped Storage Consumption - BZN|NO2', 'Hydro Run-of-river and poundage - BZN|NO1', 'Hydro Water Reservoir - BZN|NO2', 'Marine - BZN|NO2', 'Nuclear - BZN|NO2', 'Other - BZN|NO2', 'Other renewable - BZN|NO2', 'Solar - BZN|NO2', 'Waste - BZN|NO2', 'Wind Offshore - BZN|NO2', 'Wind Onshore - BZN|NO2']
actual_generation_no3.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO3', 'Fossil Brown coal/Lignite - BZN|NO3', 'Fossil Coal-derived gas - BZN|NO3', 'Fossil Gas - BZN|NO3', 'Fossil Hard coal - BZN|NO3', 'Fossil Oil - BZN|NO3', 'Fossil Oil shale - BZN|NO3', 'Fossil Peat - BZN|NO3', 'Geothermal - BZN|NO3', 'Hydro Pumped Storage Aggregated- BZN|NO3', 'Hydro Pumped Storage Consumption - BZN|NO3', 'Hydro Run-of-river and poundage - BZN|NO3', 'Hydro Water Reservoir - BZN|NO3', 'Marine - BZN|NO3', 'Nuclear - BZN|NO3', 'Other - BZN|NO3', 'Other renewable - BZN|NO3', 'Solar - BZN|NO3', 'Waste - BZN|NO3', 'Wind Offshore - BZN|NO3', 'Wind Onshore - BZN|NO3']
actual_generation_no5.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO5', 'Fossil Brown coal/Lignite - BZN|NO5', 'Fossil Coal-derived gas - BZN|NO5', 'Fossil Gas - BZN|NO5', 'Fossil Hard coal - BZN|NO5', 'Fossil Oil - BZN|NO5', 'Fossil Oil shale - BZN|NO5', 'Fossil Peat - BZN|NO5', 'Geothermal - BZN|NO5', 'Hydro Pumped Storage Aggregated- BZN|NO5', 'Hydro Pumped Storage Consumption - BZN|NO5', 'Hydro Run-of-river and poundage - BZN|NO5', 'Hydro Water Reservoir - BZN|NO5', 'Marine - BZN|NO5', 'Nuclear - BZN|NO5', 'Other - BZN|NO5', 'Other renewable - BZN|NO5', 'Solar - BZN|NO5', 'Waste - BZN|NO5', 'Wind Offshore - BZN|NO5', 'Wind Onshore - BZN|NO5']
actual_generation_se3.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|SE3', 'Fossil Brown coal/Lignite - BZN|SE3', 'Fossil Coal-derived gas - BZN|SE3', 'Fossil Gas - BZN|SE3', 'Fossil Hard coal - BZN|SE3', 'Fossil Oil - BZN|SE3', 'Fossil Oil shale - BZN|SE3', 'Fossil Peat - BZN|SE3', 'Geothermal - BZN|SE3', 'Hydro Pumped Storage Aggregated- BZN|SE3', 'Hydro Pumped Storage Consumption - BZN|SE3', 'Hydro Run-of-river and poundage - BZN|SE3', 'Hydro Water Reservoir - BZN|SE3', 'Marine - BZN|SE3', 'Nuclear - BZN|SE3', 'Other - BZN|SE3', 'Other renewable - BZN|SE3', 'Solar - BZN|SE3', 'Waste - BZN|SE3', 'Wind Offshore - BZN|SE3', 'Wind Onshore - BZN|SE3']
actual_generation_no1.head()

,Area,MTU (CET/CEST),Biomass - BZN|NO1,Fossil Brown coal/Lignite - BZN|NO1,Fossil Coal-derived gas - BZN|NO1,Fossil Gas - BZN|NO1,Fossil Hard coal - BZN|NO1,Fossil Oil - BZN|NO1,Fossil Oil shale - BZN|NO1,Fossil Peat - BZN|NO1,...,Hydro Run-of-river and poundage - BZN|NO1,Hydro Water Reservoir - BZN|NO1,Marine - BZN|NO1,Nuclear - BZN|NO1,Other - BZN|NO1,Other renewable - BZN|NO1,Solar - BZN|NO1,Waste - BZN|NO1,Wind Offshore - BZN|NO1,Wind Onshore - BZN|NO1
0,BZN|NO1,01.01.2022 00:00 - 01.01.2022 01:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,899.0,353.0,n/e,n/e,n/e,n/e,n/e,9.0,n/e,139.0
1,BZN|NO1,01.01.2022 01:00 - 01.01.2022 02:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,878.0,321.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,172.0
2,BZN|NO1,01.01.2022 02:00 - 01.01.2022 03:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,897.0,330.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,151.0
3,BZN|NO1,01.01.2022 03:00 - 01.01.2022 04:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,885.0,275.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,160.0
4,BZN|NO1,01.01.2022 04:00 - 01.01.2022 05:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,...,890.0,269.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,148.0

In [27]:
# Dropping area because we keep the zone name in the column name
actual_generation_no1 = actual_generation_no1.drop(['Area'], axis=1)
actual_generation_no2 = actual_generation_no2.drop(['Area'], axis=1)
actual_generation_no3 = actual_generation_no3.drop(['Area'], axis=1)
actual_generation_no5 = actual_generation_no5.drop(['Area'], axis=1)
actual_generation_se3 = actual_generation_se3.drop(['Area'], axis=1)
actual_generation_no1.head()

,MTU (CET/CEST),Biomass - BZN|NO1,Fossil Brown coal/Lignite - BZN|NO1,Fossil Coal-derived gas - BZN|NO1,Fossil Gas - BZN|NO1,Fossil Hard coal - BZN|NO1,Fossil Oil - BZN|NO1,Fossil Oil shale - BZN|NO1,Fossil Peat - BZN|NO1,Geothermal - BZN|NO1,...,Hydro Run-of-river and poundage - BZN|NO1,Hydro Water Reservoir - BZN|NO1,Marine - BZN|NO1,Nuclear - BZN|NO1,Other - BZN|NO1,Other renewable - BZN|NO1,Solar - BZN|NO1,Waste - BZN|NO1,Wind Offshore - BZN|NO1,Wind Onshore - BZN|NO1
0,01.01.2022 00:00 - 01.01.2022 01:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,899.0,353.0,n/e,n/e,n/e,n/e,n/e,9.0,n/e,139.0
1,01.01.2022 01:00 - 01.01.2022 02:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,878.0,321.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,172.0
2,01.01.2022 02:00 - 01.01.2022 03:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,897.0,330.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,151.0
3,01.01.2022 03:00 - 01.01.2022 04:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,885.0,275.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,160.0
4,01.01.2022 04:00 - 01.01.2022 05:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,890.0,269.0,n/e,n/e,n/e,n/e,n/e,8.0,n/e,148.0

In [28]:
# Creating one dataframe from the 5 dataframes for each zone
actual_generation_dataframes = [actual_generation_no1, actual_generation_no2, actual_generation_no3, actual_generation_no5, actual_generation_se3]
actual_generation = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), actual_generation_dataframes)

# printing out the resulting dataframe
actual_generation.head()

,MTU (CET/CEST),Biomass - BZN|NO1,Fossil Brown coal/Lignite - BZN|NO1,Fossil Coal-derived gas - BZN|NO1,Fossil Gas - BZN|NO1,Fossil Hard coal - BZN|NO1,Fossil Oil - BZN|NO1,Fossil Oil shale - BZN|NO1,Fossil Peat - BZN|NO1,Geothermal - BZN|NO1,...,Hydro Run-of-river and poundage - BZN|SE3,Hydro Water Reservoir - BZN|SE3,Marine - BZN|SE3,Nuclear - BZN|SE3,Other - BZN|SE3,Other renewable - BZN|SE3,Solar - BZN|SE3,Waste - BZN|SE3,Wind Offshore - BZN|SE3,Wind Onshore - BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,n/e,824.0,0,5841.0,892.0,n/e,0.0,n/e,n/e,1062.0
1,01.01.2022 01:00 - 01.01.2022 02:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,n/e,818.0,0,5842.0,851.0,n/e,0.0,n/e,n/e,999.0
2,01.01.2022 02:00 - 01.01.2022 03:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,n/e,818.0,0,5839.0,858.0,n/e,0.0,n/e,n/e,958.0
3,01.01.2022 03:00 - 01.01.2022 04:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,n/e,838.0,0,5839.0,859.0,n/e,0.0,n/e,n/e,888.0
4,01.01.2022 04:00 - 01.01.2022 05:00 (CET/CEST),0.0,n/e,n/e,0.0,n/e,n/e,n/e,n/e,n/e,...,n/e,842.0,0,5840.0,856.0,n/e,0.0,n/e,n/e,788.0

We have alot of columns which are used in other nations and zones that are redundant to us because there is no power generation from these sources in the zones we are looking at. Therefore, we select only the columns which keep information about power generation in each zone.

In [29]:
# Selecting only relevant columns
actual_generation_selected = actual_generation[['MTU (CET/CEST)', 'Biomass - BZN|NO1', 'Fossil Gas - BZN|NO1', 'Hydro Run-of-river and poundage - BZN|NO1_x', 'Hydro Water Reservoir - BZN|NO1', 'Waste - BZN|NO1', 'Wind Onshore - BZN|NO1', 'Fossil Gas - BZN|NO2', 'Hydro Pumped Storage Aggregated- BZN|NO2', 'Hydro Pumped Storage Consumption - BZN|NO2', 'Hydro Run-of-river and poundage - BZN|NO1_y', 'Hydro Water Reservoir - BZN|NO2', 'Waste - BZN|NO2', 'Wind Onshore - BZN|NO2', 'Fossil Gas - BZN|NO3', 'Hydro Pumped Storage Aggregated- BZN|NO3', 'Hydro Pumped Storage Consumption - BZN|NO3', 'Hydro Run-of-river and poundage - BZN|NO3', 'Hydro Water Reservoir - BZN|NO3', 'Other - BZN|NO3', 'Other renewable - BZN|NO3', 'Waste - BZN|NO3', 'Wind Onshore - BZN|NO3', 'Fossil Gas - BZN|NO5', 'Hydro Pumped Storage Aggregated- BZN|NO5', 'Hydro Pumped Storage Consumption - BZN|NO5', 'Hydro Run-of-river and poundage - BZN|NO5', 'Hydro Water Reservoir - BZN|NO5', 'Waste - BZN|NO5', 'Fossil Gas - BZN|SE3', 'Hydro Water Reservoir - BZN|SE3', 'Marine - BZN|SE3', 'Nuclear - BZN|SE3', 'Other - BZN|SE3', 'Solar - BZN|SE3', 'Wind Onshore - BZN|SE3']].copy()
# printing the head of the resulting dataframe
actual_generation_selected.head()

,MTU (CET/CEST),Biomass - BZN|NO1,Fossil Gas - BZN|NO1,Hydro Run-of-river and poundage - BZN|NO1_x,Hydro Water Reservoir - BZN|NO1,Waste - BZN|NO1,Wind Onshore - BZN|NO1,Fossil Gas - BZN|NO2,Hydro Pumped Storage Aggregated- BZN|NO2,Hydro Pumped Storage Consumption - BZN|NO2,...,Hydro Run-of-river and poundage - BZN|NO5,Hydro Water Reservoir - BZN|NO5,Waste - BZN|NO5,Fossil Gas - BZN|SE3,Hydro Water Reservoir - BZN|SE3,Marine - BZN|SE3,Nuclear - BZN|SE3,Other - BZN|SE3,Solar - BZN|SE3,Wind Onshore - BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00 (CET/CEST),0.0,0.0,899.0,353.0,9.0,139.0,0.0,1.0,NaN,...,234.0,1618.0,19.0,0.0,824.0,0,5841.0,892.0,0.0,1062.0
1,01.01.2022 01:00 - 01.01.2022 02:00 (CET/CEST),0.0,0.0,878.0,321.0,8.0,172.0,0.0,1.0,NaN,...,227.0,1759.0,19.0,0.0,818.0,0,5842.0,851.0,0.0,999.0
2,01.01.2022 02:00 - 01.01.2022 03:00 (CET/CEST),0.0,0.0,897.0,330.0,8.0,151.0,0.0,1.0,NaN,...,216.0,1890.0,20.0,0.0,818.0,0,5839.0,858.0,0.0,958.0
3,01.01.2022 03:00 - 01.01.2022 04:00 (CET/CEST),0.0,0.0,885.0,275.0,8.0,160.0,0.0,1.0,NaN,...,215.0,1460.0,20.0,0.0,838.0,0,5839.0,859.0,0.0,888.0
4,01.01.2022 04:00 - 01.01.2022 05:00 (CET/CEST),0.0,0.0,890.0,269.0,8.0,148.0,0.0,1.0,NaN,...,209.0,1394.0,20.0,0.0,842.0,0,5840.0,856.0,0.0,788.0

### Data Aggregation for import and export

We want to concatenate data for cross border physical flow between NO1 and neighbouring zones(NO2,NO3,NO5,SE3).

In [30]:
# Importing import export datasets
import_export_no1_no2 = pd.read_csv("../datasets/import_and_export/NO1-NO2 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
import_export_no1_no3 = pd.read_csv("../datasets/import_and_export/NO1-NO3 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
import_export_no1_no5 = pd.read_csv("../datasets/import_and_export/NO1-NO5 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
import_export_no1_se3 = pd.read_csv("../datasets/import_and_export/NO1-SE3 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")

NO1_NO2_import_export.head()
In other data files the time unite is MTU (CET/CEST), this is not teh case for import and export data. To be consistent Time (CET/CEST) is changed to MTU (CET/CEST). To make it clear that 'BZN|NO2 > BZN|NO1 [MW]' shows the cross border physical flow , CBF is used as an abbreviation.

Printing out first rows of each dataset to see the structure

In [31]:
import_export_no1_no2.head()

,Time (CET/CEST),BZN|NO2 > BZN|NO1 [MW],BZN|NO1 > BZN|NO2 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,1300.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,1242.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,1222.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,1679.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,1668.0,0.0

In [32]:
import_export_no1_no3.head()

,Time (CET/CEST),BZN|NO3 > BZN|NO1 [MW],BZN|NO1 > BZN|NO3 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,384.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,371.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,383.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,362.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,324.0,0.0

In [33]:
import_export_no1_no5.head()

,Time (CET/CEST),BZN|NO5 > BZN|NO1 [MW],BZN|NO1 > BZN|NO5 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,568.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,594.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,676.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,436.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,345.0,0.0

In [34]:
import_export_no1_se3.head()

,Time (CET/CEST),BZN|SE3 > BZN|NO1 [MW],BZN|NO1 > BZN|SE3 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,1038.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,1065.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,927.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,748.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,918.0,0.0

We see that the time column in the import export datasets is named "Time(CET/CEST)" while in the other datasets, the time column is named "MTU (CET/CET)". The time column will be renamed to "MTU (CET/CEST)" so that the datasets can be merged.

In [35]:
import_export_no1_no2.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|NO2 > BZN|NO1 [MW]' : 'CBF BZN|NO2 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|NO2 [MW]' : 'CBF BZN|NO1 > BZN|NO2 [MW]'}, inplace = True)
import_export_no1_no3.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|NO3 > BZN|NO1 [MW]' : 'CBF BZN|NO3 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|NO3 [MW]' : 'CBF BZN|NO1 > BZN|NO3 [MW]'}, inplace = True)
import_export_no1_no5.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|NO5 > BZN|NO1 [MW]' : 'CBF BZN|NO5 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|NO5 [MW]' : 'CBF BZN|NO1 > BZN|NO5 [MW]'}, inplace = True)
import_export_no1_se3.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|SE3 > BZN|NO1 [MW]' : 'CBF BZN|SE3 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|SE3 [MW]' : 'CBF BZN|NO1 > BZN|SE3 [MW]'}, inplace = True)

Merging all dataframes for import and export

In [36]:
# Merging the import export datasets
import_export_no1_neighbours_dataframes = [import_export_no1_no2, import_export_no1_no3, import_export_no1_no5, import_export_no1_se3]
import_export_no1_neighbours = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), import_export_no1_neighbours_dataframes)

# printing out the 5 first rows of the resulting dataframe
import_export_no1_neighbours.head()

,MTU (CET/CEST),CBF BZN|NO2 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO2 [MW],CBF BZN|NO3 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO3 [MW],CBF BZN|NO5 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO5 [MW],CBF BZN|SE3 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|SE3 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,1300.0,0.0,384.0,0.0,568.0,0.0,1038.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,1242.0,0.0,371.0,0.0,594.0,0.0,1065.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,1222.0,0.0,383.0,0.0,676.0,0.0,927.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,1679.0,0.0,362.0,0.0,436.0,0.0,748.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,1668.0,0.0,324.0,0.0,345.0,0.0,918.0,0.0

### Aggregation of Water Reservoirs and Hydro Storage Plants

The water reservoir dataset is measured with a weekly frequency while the other datasets are measured hourly. In order to make the data match frequency of measurements of the other datasets, we will need to up sample the data thorough interpolation.  We will first map the weekly measurement to the first hour of each week, and then interpolate the intermediate measurement. In order to interpolate the measurements of the last week, we will add the measurement for the first week of the succeeding year (2023) to the dataset. this measurement  will be dropped from the final dataset. We will use spline interpolation to add smoothness to the interpolated curve, which will be more representative of water level fluctuations than a linear interpolation.

Reading in water levels as CSV with pandas library

In [37]:
# Loading in dataset for 2022
water_level_NO1 = pd.read_csv("../datasets/water_level/NO1_2022_Water_Reservoirs_and_Hydro_Storage_Plants_202201030000-202301020000.csv")
water_level_NO2 = pd.read_csv("../datasets/water_level/NO2_2022_Water_Reservoirs_and_Hydro_Storage Plants_202201030000-202301020000.csv")
water_level_NO3 = pd.read_csv("../datasets/water_level/NO3_2022_Water_Reservoirs_and_Hydro_Storage Plants_202201030000-202301020000.csv")
water_level_NO5 = pd.read_csv("../datasets/water_level/NO5_2022_Water_Reservoirs_and_Hydro_Storage Plants_202201030000-202301020000.csv")
water_level_SE3 = pd.read_csv("../datasets/water_level/SE3_2022_Water_Reservoirs_and_Hydro_Storage Plants_202201030000-202301020000.csv")

# Reading in only the first week of 2023
water_level_NO1_2023 = pd.read_csv("../datasets/water_level/NO1_2023_Water Reservoirs and Hydro Storage Plants_202301020000-202401010000.csv", nrows=1)
water_level_NO2_2023 = pd.read_csv("../datasets/water_level/NO2_2023_Water Reservoirs and Hydro Storage Plants_202301020000-202401010000.csv", nrows=1)
water_level_NO3_2023 = pd.read_csv("../datasets/water_level/NO3_2023_Water Reservoirs and Hydro Storage Plants_202301020000-202401010000.csv", nrows=1)
water_level_NO5_2023 = pd.read_csv("../datasets/water_level/NO5_2023_Water Reservoirs and Hydro Storage Plants_202301020000-202401010000.csv", nrows=1)
water_level_SE3_2023 = pd.read_csv("../datasets/water_level/SE3_2023_Water Reservoirs and Hydro Storage Plants_202301020000-202401010000.csv", nrows=1)

In [38]:
water_level_NO1_2023.head()

     Week  Stored Energy Value [MWh] - BZN|NO1
0  Week 1                              3741135

In [39]:
#water_level_NO1.append(water_level_NO1_2023, ignore_index= True)

In [40]:
water_level_NO1_2023.at[0, 'Week'] = 'Week 53'
water_level_NO2_2023.at[0, 'Week'] = 'Week 53'
water_level_NO3_2023.at[0, 'Week'] = 'Week 53'
water_level_NO5_2023.at[0, 'Week'] = 'Week 53'
water_level_SE3_2023.at[0, 'Week'] = 'Week 53'

In [41]:
water_level_NO1 = pd.concat([water_level_NO1, water_level_NO1_2023], ignore_index= True)
water_level_NO2 = pd.concat([water_level_NO2, water_level_NO2_2023], ignore_index= True)
water_level_NO3 = pd.concat([water_level_NO3, water_level_NO3_2023], ignore_index= True)
water_level_NO5 = pd.concat([water_level_NO5, water_level_NO5_2023], ignore_index= True)
water_level_SE3 = pd.concat([water_level_SE3, water_level_SE3_2023], ignore_index= True)

In [42]:
water_level_NO1

       Week  Stored Energy Value [MWh] - BZN|NO1
0    Week 1                              2955197
1    Week 2                              2754532
2    Week 3                              2556285
3    Week 4                              2388301
4    Week 5                              2165300
5    Week 6                              1980711
6    Week 7                              1812166
7    Week 8                              1587481
8    Week 9                              1339030
9   Week 10                              1130841
10  Week 11                               952724
11  Week 12                               798909
12  Week 13                               680064
13  Week 14                               580540
14  Week 15                               485334
15  Week 16                               596200
16  Week 17                               718109
17  Week 18                               806441
18  Week 19                              1045616
19  Week 20                              1347912
20  Week 21                              1982571
21  Week 22                              2492802
22  Week 23                              2933555
23  Week 24                              3212965
24  Week 25                              3430212
25  Week 26                              3900786
26  Week 27                              4012187
27  Week 28                              3994165
28  Week 29                              4009752
29  Week 30                              4043935
30  Week 31                              4104882
31  Week 32                              4060813
32  Week 33                              4108040
33  Week 34                              4064965
34  Week 35                              4020888
35  Week 36                              3973981
36  Week 37                              4104408
37  Week 38                              4123468
38  Week 39                              4557852
39  Week 40                              4755301
40  Week 41                              4848058
41  Week 42                              4870782
42  Week 43                              4908679
43  Week 44                              5107865
44  Week 45                              5323211
45  Week 46                              5223096
46  Week 47                              5058593
47  Week 48                              4854581
48  Week 49                              4547299
49  Week 50                              4240847
50  Week 51                              4054917
51  Week 52                              3915448
52  Week 53                              3741135

We can see that the time column for this data is measured in weeks while the other data is measured in every hour. In order to merge the dataset we need to interpolate the data. First we need to resample the data. Since we want more samples we need to upsample through interpolation.

In [43]:
# Merging the import export datasets
water_level_dataframes = [water_level_NO1, water_level_NO2, water_level_NO3, water_level_NO5, water_level_SE3]
water_level_dataframes = reduce(lambda left, right: pd.merge(left,right, on=['Week']), water_level_dataframes)

# printing out the 5 first rows of the resulting dataframe
water_level_dataframes

,Week,Stored Energy Value [MWh] - BZN|NO1,Stored Energy Value [MWh] - BZN|NO2,Stored Energy Value [MWh] - BZN|NO3,Stored Energy Value [MWh] - BZN|NO5,Stored Energy Value [MWh] - BZN|SE3
0,Week 1,2955197,16214535,5314677,8130917,1566000
1,Week 2,2754532,15749289,5423690,7834726,1475000
2,Week 3,2556285,15047132,5363892,7445563,1415000
3,Week 4,2388301,14733590,5186818,7172051,1361000
4,Week 5,2165300,14257951,4897580,6748563,1268000
5,Week 6,1980711,13791581,4603031,6368820,1199000
6,Week 7,1812166,13411681,4251595,5979667,1158000
7,Week 8,1587481,12707400,3909162,5373032,1096000
8,Week 9,1339030,11670216,3656158,4719615,1039000
9,Week 10,1130841,10660841,3360553,4200460,961000
10,Week 11,952724,9575135,3083194,3709118,909000
11,Week 12,798909,8703219,2860931,3235284,885000
12,Week 13,680064,7900623,2638904,2785155,833000
13,Week 14,580540,7293544,2338854,2477712,837000
14,Week 15,485334,6593094,2040955,2061322,836000
15,Week 16,596200,6588652,1912765,1942936,1017000
16,Week 17,718109,6334677,1844130,1688611,1159000
17,Week 18,806441,6335969,1849392,1624537,1250000
18,Week 19,1045616,7575908,2051040,1952616,1368000
19,Week 20,1347912,8397713,2328777,2302226,1417000
20,Week 21,1982571,10289749,3358900,3405141,1503000
21,Week 22,2492802,11221400,4008874,4038100,1564000
22,Week 23,2933555,12580832,4814074,5395090,1620000
23,Week 24,3212965,13910933,5665552,6735089,1632000
24,Week 25,3430212,14662910,6457307,8018923,1629000
25,Week 26,3900786,15452105,7498030,9428249,1616000
26,Week 27,4012187,16120569,7863163,10162000,1641000
27,Week 28,3994165,16378502,7957172,10628088,1607000
28,Week 29,4009752,16402670,7960713,11109433,1599000
29,Week 30,4043935,16717333,8051580,11592699,1610000
30,Week 31,4104882,17085000,8100718,12068215,1635000
31,Week 32,4060813,17005580,8018687,12154249,1592000
32,Week 33,4108040,17020204,7929291,12257612,1629000
33,Week 34,4064965,17119092,7826237,12265837,1604000
34,Week 35,4020888,17071218,7570911,12170229,1546000
35,Week 36,3973981,16901952,7227405,12023086,1482000
36,Week 37,4104408,17178680,7530252,12248623,1515000
37,Week 38,4123468,17159852,7517500,12231292,1478000
38,Week 39,4557852,18023794,7387157,12605383,1517000
39,Week 40,4755301,20058792,7594725,13471035,1560000
40,Week 41,4848058,21159410,7617780,13690313,1581000
41,Week 42,4870782,21810842,7404661,13634613,1636000
42,Week 43,4908679,22579802,7348022,14016600,1684000
43,Week 44,5107865,23931948,7302065,14440213,1724000
44,Week 45,5323211,25449076,7411170,15431832,1842000
45,Week 46,5223096,25227514,7156747,15137592,1853000
46,Week 47,5058593,24693174,6788733,14668123,1801000
47,Week 48,4854581,24042326,6337838,14109842,1721000
48,Week 49,4547299,22990452,5928768,13361399,1636000
49,Week 50,4240847,21893510,5543624,12519513,1519000
50,Week 51,4054917,21328774,5217632,12168425,1525000
51,Week 52,3915448,21384042,5038234,12014136,1579000
52,Week 53,3741135,21066642,4657760,11620688,1584000

In [44]:

# remvoing 'weeek' from values in 'Week' column
for i in range(1,54):
    water_level_dataframes['Week'] = water_level_dataframes['Week'].replace(f'Week {i}', i, regex=False)

# printing first 5 lines of dataframe to show result
water_level_dataframes

,Week,Stored Energy Value [MWh] - BZN|NO1,Stored Energy Value [MWh] - BZN|NO2,Stored Energy Value [MWh] - BZN|NO3,Stored Energy Value [MWh] - BZN|NO5,Stored Energy Value [MWh] - BZN|SE3
0,1,2955197,16214535,5314677,8130917,1566000
1,2,2754532,15749289,5423690,7834726,1475000
2,3,2556285,15047132,5363892,7445563,1415000
3,4,2388301,14733590,5186818,7172051,1361000
4,5,2165300,14257951,4897580,6748563,1268000
5,6,1980711,13791581,4603031,6368820,1199000
6,7,1812166,13411681,4251595,5979667,1158000
7,8,1587481,12707400,3909162,5373032,1096000
8,9,1339030,11670216,3656158,4719615,1039000
9,10,1130841,10660841,3360553,4200460,961000
10,11,952724,9575135,3083194,3709118,909000
11,12,798909,8703219,2860931,3235284,885000
12,13,680064,7900623,2638904,2785155,833000
13,14,580540,7293544,2338854,2477712,837000
14,15,485334,6593094,2040955,2061322,836000
15,16,596200,6588652,1912765,1942936,1017000
16,17,718109,6334677,1844130,1688611,1159000
17,18,806441,6335969,1849392,1624537,1250000
18,19,1045616,7575908,2051040,1952616,1368000
19,20,1347912,8397713,2328777,2302226,1417000
20,21,1982571,10289749,3358900,3405141,1503000
21,22,2492802,11221400,4008874,4038100,1564000
22,23,2933555,12580832,4814074,5395090,1620000
23,24,3212965,13910933,5665552,6735089,1632000
24,25,3430212,14662910,6457307,8018923,1629000
25,26,3900786,15452105,7498030,9428249,1616000
26,27,4012187,16120569,7863163,10162000,1641000
27,28,3994165,16378502,7957172,10628088,1607000
28,29,4009752,16402670,7960713,11109433,1599000
29,30,4043935,16717333,8051580,11592699,1610000
30,31,4104882,17085000,8100718,12068215,1635000
31,32,4060813,17005580,8018687,12154249,1592000
32,33,4108040,17020204,7929291,12257612,1629000
33,34,4064965,17119092,7826237,12265837,1604000
34,35,4020888,17071218,7570911,12170229,1546000
35,36,3973981,16901952,7227405,12023086,1482000
36,37,4104408,17178680,7530252,12248623,1515000
37,38,4123468,17159852,7517500,12231292,1478000
38,39,4557852,18023794,7387157,12605383,1517000
39,40,4755301,20058792,7594725,13471035,1560000
40,41,4848058,21159410,7617780,13690313,1581000
41,42,4870782,21810842,7404661,13634613,1636000
42,43,4908679,22579802,7348022,14016600,1684000
43,44,5107865,23931948,7302065,14440213,1724000
44,45,5323211,25449076,7411170,15431832,1842000
45,46,5223096,25227514,7156747,15137592,1853000
46,47,5058593,24693174,6788733,14668123,1801000
47,48,4854581,24042326,6337838,14109842,1721000
48,49,4547299,22990452,5928768,13361399,1636000
49,50,4240847,21893510,5543624,12519513,1519000
50,51,4054917,21328774,5217632,12168425,1525000
51,52,3915448,21384042,5038234,12014136,1579000
52,53,3741135,21066642,4657760,11620688,1584000

In [45]:
# Assigning each data to first every day of week down to the hour
date_range_timeframe = pd.date_range(start='1/1/2022', periods=53, freq='W')
date_range_timeframe

DatetimeIndex(['2022-01-02', '2022-01-09', '2022-01-16', '2022-01-23',
               '2022-01-30', '2022-02-06', '2022-02-13', '2022-02-20',
               '2022-02-27', '2022-03-06', '2022-03-13', '2022-03-20',
               '2022-03-27', '2022-04-03', '2022-04-10', '2022-04-17',
               '2022-04-24', '2022-05-01', '2022-05-08', '2022-05-15',
               '2022-05-22', '2022-05-29', '2022-06-05', '2022-06-12',
               '2022-06-19', '2022-06-26', '2022-07-03', '2022-07-10',
               '2022-07-17', '2022-07-24', '2022-07-31', '2022-08-07',
               '2022-08-14', '2022-08-21', '2022-08-28', '2022-09-04',
               '2022-09-11', '2022-09-18', '2022-09-25', '2022-10-02',
               '2022-10-09', '2022-10-16', '2022-10-23', '2022-10-30',
               '2022-11-06', '2022-11-13', '2022-11-20', '2022-11-27',
               '2022-12-04', '2022-12-11', '2022-12-18', '2022-12-25',
               '2023-01-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [46]:
water_level_dataframes.set_index(date_range_timeframe, inplace = True)
water_level_dataframes

,Week,Stored Energy Value [MWh] - BZN|NO1,Stored Energy Value [MWh] - BZN|NO2,Stored Energy Value [MWh] - BZN|NO3,Stored Energy Value [MWh] - BZN|NO5,Stored Energy Value [MWh] - BZN|SE3
2022-01-02,1,2955197,16214535,5314677,8130917,1566000
2022-01-09,2,2754532,15749289,5423690,7834726,1475000
2022-01-16,3,2556285,15047132,5363892,7445563,1415000
2022-01-23,4,2388301,14733590,5186818,7172051,1361000
2022-01-30,5,2165300,14257951,4897580,6748563,1268000
2022-02-06,6,1980711,13791581,4603031,6368820,1199000
2022-02-13,7,1812166,13411681,4251595,5979667,1158000
2022-02-20,8,1587481,12707400,3909162,5373032,1096000
2022-02-27,9,1339030,11670216,3656158,4719615,1039000
2022-03-06,10,1130841,10660841,3360553,4200460,961000
2022-03-13,11,952724,9575135,3083194,3709118,909000
2022-03-20,12,798909,8703219,2860931,3235284,885000
2022-03-27,13,680064,7900623,2638904,2785155,833000
2022-04-03,14,580540,7293544,2338854,2477712,837000
2022-04-10,15,485334,6593094,2040955,2061322,836000
2022-04-17,16,596200,6588652,1912765,1942936,1017000
2022-04-24,17,718109,6334677,1844130,1688611,1159000
2022-05-01,18,806441,6335969,1849392,1624537,1250000
2022-05-08,19,1045616,7575908,2051040,1952616,1368000
2022-05-15,20,1347912,8397713,2328777,2302226,1417000
2022-05-22,21,1982571,10289749,3358900,3405141,1503000
2022-05-29,22,2492802,11221400,4008874,4038100,1564000
2022-06-05,23,2933555,12580832,4814074,5395090,1620000
2022-06-12,24,3212965,13910933,5665552,6735089,1632000
2022-06-19,25,3430212,14662910,6457307,8018923,1629000
2022-06-26,26,3900786,15452105,7498030,9428249,1616000
2022-07-03,27,4012187,16120569,7863163,10162000,1641000
2022-07-10,28,3994165,16378502,7957172,10628088,1607000
2022-07-17,29,4009752,16402670,7960713,11109433,1599000
2022-07-24,30,4043935,16717333,8051580,11592699,1610000
2022-07-31,31,4104882,17085000,8100718,12068215,1635000
2022-08-07,32,4060813,17005580,8018687,12154249,1592000
2022-08-14,33,4108040,17020204,7929291,12257612,1629000
2022-08-21,34,4064965,17119092,7826237,12265837,1604000
2022-08-28,35,4020888,17071218,7570911,12170229,1546000
2022-09-04,36,3973981,16901952,7227405,12023086,1482000
2022-09-11,37,4104408,17178680,7530252,12248623,1515000
2022-09-18,38,4123468,17159852,7517500,12231292,1478000
2022-09-25,39,4557852,18023794,7387157,12605383,1517000
2022-10-02,40,4755301,20058792,7594725,13471035,1560000
2022-10-09,41,4848058,21159410,7617780,13690313,1581000
2022-10-16,42,4870782,21810842,7404661,13634613,1636000
2022-10-23,43,4908679,22579802,7348022,14016600,1684000
2022-10-30,44,5107865,23931948,7302065,14440213,1724000
2022-11-06,45,5323211,25449076,7411170,15431832,1842000
2022-11-13,46,5223096,25227514,7156747,15137592,1853000
2022-11-20,47,5058593,24693174,6788733,14668123,1801000
2022-11-27,48,4854581,24042326,6337838,14109842,1721000
2022-12-04,49,4547299,22990452,5928768,13361399,1636000
2022-12-11,50,4240847,21893510,5543624,12519513,1519000
2022-12-18,51,4054917,21328774,5217632,12168425,1525000
2022-12-25,52,3915448,21384042,5038234,12014136,1579000
2023-01-01,53,3741135,21066642,4657760,11620688,1584000

In [47]:
# water_level_dataframes.index.name = 'MTU (CET/CEST)'
water_level_dataframes

,Week,Stored Energy Value [MWh] - BZN|NO1,Stored Energy Value [MWh] - BZN|NO2,Stored Energy Value [MWh] - BZN|NO3,Stored Energy Value [MWh] - BZN|NO5,Stored Energy Value [MWh] - BZN|SE3
2022-01-02,1,2955197,16214535,5314677,8130917,1566000
2022-01-09,2,2754532,15749289,5423690,7834726,1475000
2022-01-16,3,2556285,15047132,5363892,7445563,1415000
2022-01-23,4,2388301,14733590,5186818,7172051,1361000
2022-01-30,5,2165300,14257951,4897580,6748563,1268000
2022-02-06,6,1980711,13791581,4603031,6368820,1199000
2022-02-13,7,1812166,13411681,4251595,5979667,1158000
2022-02-20,8,1587481,12707400,3909162,5373032,1096000
2022-02-27,9,1339030,11670216,3656158,4719615,1039000
2022-03-06,10,1130841,10660841,3360553,4200460,961000
2022-03-13,11,952724,9575135,3083194,3709118,909000
2022-03-20,12,798909,8703219,2860931,3235284,885000
2022-03-27,13,680064,7900623,2638904,2785155,833000
2022-04-03,14,580540,7293544,2338854,2477712,837000
2022-04-10,15,485334,6593094,2040955,2061322,836000
2022-04-17,16,596200,6588652,1912765,1942936,1017000
2022-04-24,17,718109,6334677,1844130,1688611,1159000
2022-05-01,18,806441,6335969,1849392,1624537,1250000
2022-05-08,19,1045616,7575908,2051040,1952616,1368000
2022-05-15,20,1347912,8397713,2328777,2302226,1417000
2022-05-22,21,1982571,10289749,3358900,3405141,1503000
2022-05-29,22,2492802,11221400,4008874,4038100,1564000
2022-06-05,23,2933555,12580832,4814074,5395090,1620000
2022-06-12,24,3212965,13910933,5665552,6735089,1632000
2022-06-19,25,3430212,14662910,6457307,8018923,1629000
2022-06-26,26,3900786,15452105,7498030,9428249,1616000
2022-07-03,27,4012187,16120569,7863163,10162000,1641000
2022-07-10,28,3994165,16378502,7957172,10628088,1607000
2022-07-17,29,4009752,16402670,7960713,11109433,1599000
2022-07-24,30,4043935,16717333,8051580,11592699,1610000
2022-07-31,31,4104882,17085000,8100718,12068215,1635000
2022-08-07,32,4060813,17005580,8018687,12154249,1592000
2022-08-14,33,4108040,17020204,7929291,12257612,1629000
2022-08-21,34,4064965,17119092,7826237,12265837,1604000
2022-08-28,35,4020888,17071218,7570911,12170229,1546000
2022-09-04,36,3973981,16901952,7227405,12023086,1482000
2022-09-11,37,4104408,17178680,7530252,12248623,1515000
2022-09-18,38,4123468,17159852,7517500,12231292,1478000
2022-09-25,39,4557852,18023794,7387157,12605383,1517000
2022-10-02,40,4755301,20058792,7594725,13471035,1560000
2022-10-09,41,4848058,21159410,7617780,13690313,1581000
2022-10-16,42,4870782,21810842,7404661,13634613,1636000
2022-10-23,43,4908679,22579802,7348022,14016600,1684000
2022-10-30,44,5107865,23931948,7302065,14440213,1724000
2022-11-06,45,5323211,25449076,7411170,15431832,1842000
2022-11-13,46,5223096,25227514,7156747,15137592,1853000
2022-11-20,47,5058593,24693174,6788733,14668123,1801000
2022-11-27,48,4854581,24042326,6337838,14109842,1721000
2022-12-04,49,4547299,22990452,5928768,13361399,1636000
2022-12-11,50,4240847,21893510,5543624,12519513,1519000
2022-12-18,51,4054917,21328774,5217632,12168425,1525000
2022-12-25,52,3915448,21384042,5038234,12014136,1579000
2023-01-01,53,3741135,21066642,4657760,11620688,1584000

In [48]:
# water_level_dataframes['MTU (CET/CEST)'] = pd.to_datetime(water_level_dataframes['MTU (CET/CEST)'])
water_level_dataframes = water_level_dataframes.reset_index(level=0)
water_level_dataframes

,index,Week,Stored Energy Value [MWh] - BZN|NO1,Stored Energy Value [MWh] - BZN|NO2,Stored Energy Value [MWh] - BZN|NO3,Stored Energy Value [MWh] - BZN|NO5,Stored Energy Value [MWh] - BZN|SE3
0,2022-01-02,1,2955197,16214535,5314677,8130917,1566000
1,2022-01-09,2,2754532,15749289,5423690,7834726,1475000
2,2022-01-16,3,2556285,15047132,5363892,7445563,1415000
3,2022-01-23,4,2388301,14733590,5186818,7172051,1361000
4,2022-01-30,5,2165300,14257951,4897580,6748563,1268000
5,2022-02-06,6,1980711,13791581,4603031,6368820,1199000
6,2022-02-13,7,1812166,13411681,4251595,5979667,1158000
7,2022-02-20,8,1587481,12707400,3909162,5373032,1096000
8,2022-02-27,9,1339030,11670216,3656158,4719615,1039000
9,2022-03-06,10,1130841,10660841,3360553,4200460,961000
10,2022-03-13,11,952724,9575135,3083194,3709118,909000
11,2022-03-20,12,798909,8703219,2860931,3235284,885000
12,2022-03-27,13,680064,7900623,2638904,2785155,833000
13,2022-04-03,14,580540,7293544,2338854,2477712,837000
14,2022-04-10,15,485334,6593094,2040955,2061322,836000
15,2022-04-17,16,596200,6588652,1912765,1942936,1017000
16,2022-04-24,17,718109,6334677,1844130,1688611,1159000
17,2022-05-01,18,806441,6335969,1849392,1624537,1250000
18,2022-05-08,19,1045616,7575908,2051040,1952616,1368000
19,2022-05-15,20,1347912,8397713,2328777,2302226,1417000
20,2022-05-22,21,1982571,10289749,3358900,3405141,1503000
21,2022-05-29,22,2492802,11221400,4008874,4038100,1564000
22,2022-06-05,23,2933555,12580832,4814074,5395090,1620000
23,2022-06-12,24,3212965,13910933,5665552,6735089,1632000
24,2022-06-19,25,3430212,14662910,6457307,8018923,1629000
25,2022-06-26,26,3900786,15452105,7498030,9428249,1616000
26,2022-07-03,27,4012187,16120569,7863163,10162000,1641000
27,2022-07-10,28,3994165,16378502,7957172,10628088,1607000
28,2022-07-17,29,4009752,16402670,7960713,11109433,1599000
29,2022-07-24,30,4043935,16717333,8051580,11592699,1610000
30,2022-07-31,31,4104882,17085000,8100718,12068215,1635000
31,2022-08-07,32,4060813,17005580,8018687,12154249,1592000
32,2022-08-14,33,4108040,17020204,7929291,12257612,1629000
33,2022-08-21,34,4064965,17119092,7826237,12265837,1604000
34,2022-08-28,35,4020888,17071218,7570911,12170229,1546000
35,2022-09-04,36,3973981,16901952,7227405,12023086,1482000
36,2022-09-11,37,4104408,17178680,7530252,12248623,1515000
37,2022-09-18,38,4123468,17159852,7517500,12231292,1478000
38,2022-09-25,39,4557852,18023794,7387157,12605383,1517000
39,2022-10-02,40,4755301,20058792,7594725,13471035,1560000
40,2022-10-09,41,4848058,21159410,7617780,13690313,1581000
41,2022-10-16,42,4870782,21810842,7404661,13634613,1636000
42,2022-10-23,43,4908679,22579802,7348022,14016600,1684000
43,2022-10-30,44,5107865,23931948,7302065,14440213,1724000
44,2022-11-06,45,5323211,25449076,7411170,15431832,1842000
45,2022-11-13,46,5223096,25227514,7156747,15137592,1853000
46,2022-11-20,47,5058593,24693174,6788733,14668123,1801000
47,2022-11-27,48,4854581,24042326,6337838,14109842,1721000
48,2022-12-04,49,4547299,22990452,5928768,13361399,1636000
49,2022-12-11,50,4240847,21893510,5543624,12519513,1519000
50,2022-12-18,51,4054917,21328774,5217632,12168425,1525000
51,2022-12-25,52,3915448,21384042,5038234,12014136,1579000
52,2023-01-01,53,3741135,21066642,4657760,11620688,1584000

In [49]:
water_level_dataframes = water_level_dataframes.rename(columns={'index':'MTU (CET/CEST)'})

In [50]:
water_level_dataframes

,MTU (CET/CEST),Week,Stored Energy Value [MWh] - BZN|NO1,Stored Energy Value [MWh] - BZN|NO2,Stored Energy Value [MWh] - BZN|NO3,Stored Energy Value [MWh] - BZN|NO5,Stored Energy Value [MWh] - BZN|SE3
0,2022-01-02,1,2955197,16214535,5314677,8130917,1566000
1,2022-01-09,2,2754532,15749289,5423690,7834726,1475000
2,2022-01-16,3,2556285,15047132,5363892,7445563,1415000
3,2022-01-23,4,2388301,14733590,5186818,7172051,1361000
4,2022-01-30,5,2165300,14257951,4897580,6748563,1268000
5,2022-02-06,6,1980711,13791581,4603031,6368820,1199000
6,2022-02-13,7,1812166,13411681,4251595,5979667,1158000
7,2022-02-20,8,1587481,12707400,3909162,5373032,1096000
8,2022-02-27,9,1339030,11670216,3656158,4719615,1039000
9,2022-03-06,10,1130841,10660841,3360553,4200460,961000
10,2022-03-13,11,952724,9575135,3083194,3709118,909000
11,2022-03-20,12,798909,8703219,2860931,3235284,885000
12,2022-03-27,13,680064,7900623,2638904,2785155,833000
13,2022-04-03,14,580540,7293544,2338854,2477712,837000
14,2022-04-10,15,485334,6593094,2040955,2061322,836000
15,2022-04-17,16,596200,6588652,1912765,1942936,1017000
16,2022-04-24,17,718109,6334677,1844130,1688611,1159000
17,2022-05-01,18,806441,6335969,1849392,1624537,1250000
18,2022-05-08,19,1045616,7575908,2051040,1952616,1368000
19,2022-05-15,20,1347912,8397713,2328777,2302226,1417000
20,2022-05-22,21,1982571,10289749,3358900,3405141,1503000
21,2022-05-29,22,2492802,11221400,4008874,4038100,1564000
22,2022-06-05,23,2933555,12580832,4814074,5395090,1620000
23,2022-06-12,24,3212965,13910933,5665552,6735089,1632000
24,2022-06-19,25,3430212,14662910,6457307,8018923,1629000
25,2022-06-26,26,3900786,15452105,7498030,9428249,1616000
26,2022-07-03,27,4012187,16120569,7863163,10162000,1641000
27,2022-07-10,28,3994165,16378502,7957172,10628088,1607000
28,2022-07-17,29,4009752,16402670,7960713,11109433,1599000
29,2022-07-24,30,4043935,16717333,8051580,11592699,1610000
30,2022-07-31,31,4104882,17085000,8100718,12068215,1635000
31,2022-08-07,32,4060813,17005580,8018687,12154249,1592000
32,2022-08-14,33,4108040,17020204,7929291,12257612,1629000
33,2022-08-21,34,4064965,17119092,7826237,12265837,1604000
34,2022-08-28,35,4020888,17071218,7570911,12170229,1546000
35,2022-09-04,36,3973981,16901952,7227405,12023086,1482000
36,2022-09-11,37,4104408,17178680,7530252,12248623,1515000
37,2022-09-18,38,4123468,17159852,7517500,12231292,1478000
38,2022-09-25,39,4557852,18023794,7387157,12605383,1517000
39,2022-10-02,40,4755301,20058792,7594725,13471035,1560000
40,2022-10-09,41,4848058,21159410,7617780,13690313,1581000
41,2022-10-16,42,4870782,21810842,7404661,13634613,1636000
42,2022-10-23,43,4908679,22579802,7348022,14016600,1684000
43,2022-10-30,44,5107865,23931948,7302065,14440213,1724000
44,2022-11-06,45,5323211,25449076,7411170,15431832,1842000
45,2022-11-13,46,5223096,25227514,7156747,15137592,1853000
46,2022-11-20,47,5058593,24693174,6788733,14668123,1801000
47,2022-11-27,48,4854581,24042326,6337838,14109842,1721000
48,2022-12-04,49,4547299,22990452,5928768,13361399,1636000
49,2022-12-11,50,4240847,21893510,5543624,12519513,1519000
50,2022-12-18,51,4054917,21328774,5217632,12168425,1525000
51,2022-12-25,52,3915448,21384042,5038234,12014136,1579000
52,2023-01-01,53,3741135,21066642,4657760,11620688,1584000

In [51]:
water_level_dataframes['MTU (CET/CEST)'] = pd.to_datetime((water_level_dataframes['MTU (CET/CEST)']))

In [52]:
water_level_dataframes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MTU (CET/CEST)                       53 non-null     datetime64[ns]
 1   Week                                 53 non-null     int64
 2   Stored Energy Value [MWh] - BZN|NO1  53 non-null     int64
 3   Stored Energy Value [MWh] - BZN|NO2  53 non-null     int64
 4   Stored Energy Value [MWh] - BZN|NO3  53 non-null     int64
 5   Stored Energy Value [MWh] - BZN|NO5  53 non-null     int64
 6   Stored Energy Value [MWh] - BZN|SE3  53 non-null     int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 3.0 KB

Assigning each weekly value to the first hour of each week

In [53]:
# water_level_dataframes['MTU (CET/CEST)'] = water_level_dataframes['MTU (CET/CEST)'] + pd.Timedelta(minutes = 0)
# water_level_dataframes

In [55]:
water_level_dataframes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MTU (CET/CEST)                       53 non-null     datetime64[ns]
 1   Week                                 53 non-null     int64
 2   Stored Energy Value [MWh] - BZN|NO1  53 non-null     int64
 3   Stored Energy Value [MWh] - BZN|NO2  53 non-null     int64
 4   Stored Energy Value [MWh] - BZN|NO3  53 non-null     int64
 5   Stored Energy Value [MWh] - BZN|NO5  53 non-null     int64
 6   Stored Energy Value [MWh] - BZN|SE3  53 non-null     int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 3.0 KB

In [54]:
resample = water_level_dataframes.resample('H')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [ ]:
# water_level_dataframes[].resample('H')

In [ ]:
# dt_range = pd.period_range('1/1/2022', periods =52, freq='W')
# date_timeframe = pd.DataFrame(data = range(52), index=dt_range, columns=['index'])
# date_timeframe

In [ ]:
# for i in range(1, 53):
#     for i in range(1, 168):
#         date_timeframe =