## Data aggregation of energy market prices in bidding zone N01 (Norway Ã˜stlandet) and neighbouring zones for the year of 2022

### Dependencies

In [121]:
# importing dependencies to aggregate dataset
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from functools import reduce # used to merge the dataset

### Aggregation of pricing data
Pricing data is of spot (day-ahead) market prices in the currency Euro per MWh

Importing price data from each zone

In [122]:
prices_no1 = pd.read_csv("../datasets/prices/NO1 Day-ahead Prices_202201010000-202301010000.csv")
prices_no2 = pd.read_csv("../datasets/prices/NO2 Day-ahead Prices_202201010000-202301010000.csv")
prices_no3 = pd.read_csv("../datasets/prices/NO3 Day-ahead Prices_202201010000-202301010000.csv")
prices_no5 = pd.read_csv("../datasets/prices/NO5 Day-ahead Prices_202201010000-202301010000.csv")
prices_se3 = pd.read_csv("../datasets/prices/SE3 Day-ahead Prices_202201010000-202301010000.csv")

Printing out first rows of each dataset to see the structure

In [123]:
prices_no1.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO1
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,EUR,NaN

In [124]:
prices_no2.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO2
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,EUR,NaN

In [125]:
prices_no3.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO3
0,01.01.2022 00:00 - 01.01.2022 01:00,46.60,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,41.33,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,42.18,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,44.37,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,37.67,EUR,NaN

In [126]:
prices_no5.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|NO5
0,01.01.2022 00:00 - 01.01.2022 01:00,132.89,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,129.30,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,132.08,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,111.44,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,112.35,EUR,NaN

In [127]:
prices_se3.head()

,MTU (CET/CEST),Day-ahead Price [EUR/MWh],Currency,BZN|SE3
0,01.01.2022 00:00 - 01.01.2022 01:00,46.60,EUR,NaN
1,01.01.2022 01:00 - 01.01.2022 02:00,41.33,EUR,NaN
2,01.01.2022 02:00 - 01.01.2022 03:00,42.18,EUR,NaN
3,01.01.2022 03:00 - 01.01.2022 04:00,44.37,EUR,NaN
4,01.01.2022 04:00 - 01.01.2022 05:00,37.67,EUR,NaN

#### preperation for merging of the price data from the different zones:
The common column we will merge the data based on is the date time column "MTU (CET/CEST)". The column currency is redundant since the column that holds price already includes it in the column name. The currency column can therefore be dropped. The datasets have a colum name for which zone the data is from, but does not include any data for each entry. This information can be added to the column name for price and the column for zone can be dropped.

In [ ]:
# renaming price columns
prices_no1 = prices_no1.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO1'})
prices_no2 = prices_no2.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO2'})
prices_no3 = prices_no3.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO3'})
prices_no5 = prices_no5.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|NO5'})
prices_se3 = prices_se3.rename(columns={'Day-ahead Price [EUR/MWh]': 'Day-ahead Price [EUR/MWh] BZN|SE3'})

In [ ]:
# dropping redundant columns
prices_no1= prices_no1.drop(['Currency', 'BZN|NO1'], axis=1)
prices_no2= prices_no2.drop(['Currency', 'BZN|NO2'], axis=1)
prices_no3= prices_no3.drop(['Currency', 'BZN|NO3'], axis=1)
prices_no5= prices_no5.drop(['Currency', 'BZN|NO5'], axis=1)
prices_se3= prices_se3.drop(['Currency', 'BZN|SE3'], axis=1)

In [ ]:
# merging the price data into one dataframe on the date time column 'MTU (CET/CEST)'
price_data_frames = [prices_no1, prices_no2, prices_no3, prices_no5, prices_se3]
prices = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), price_data_frames)

prices.head()

### Aggregation of load data
The load data contains data about the power consumption in each zone

Importing load data from each zone

In [ ]:
load_no1 = pd.read_csv("../datasets/load/NO1 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_no2 = pd.read_csv("../datasets/load/NO2 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_no3 = pd.read_csv("../datasets/load/NO3 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_no5 = pd.read_csv("../datasets/load/NO5 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")
load_se3 = pd.read_csv("../datasets/load/SE3 Total Load - Day Ahead _ Actual_202201010000-202301010000.csv")

Printing out first rows of each dataset to see the structure

In [ ]:
load_no1.head()

In [ ]:
load_no2.head()

In [ ]:
load_no3.head()

In [ ]:
load_no5.head()

In [ ]:
load_se3.head()

#### preperation for merging of the load data from the different zones:
The common values we will merge the data based on is the date time column "Time (CET/CEST)", however this column is named "MTU (CET/CEST)" in the prices dataset. The time column will be renamed to "MTU (CET/CEST)" so that the datasets can be merged. The column "Day-ahead Total Load Forecast" is redundant since we have the actual total load, so the forecast column will be dropped.

In [ ]:
# dropping redundant columns
load_no1 = load_no1.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO1'], axis=1)
load_no2 = load_no2.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO2'], axis=1)
load_no3 = load_no3.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO3'], axis=1)
load_no5 = load_no5.drop(['Day-ahead Total Load Forecast [MW] - BZN|NO5'], axis=1)
load_se3 = load_se3.drop(['Day-ahead Total Load Forecast [MW] - BZN|SE3'], axis=1)

In [ ]:
# renaming time columns
load_no1 = load_no1.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_no2 = load_no2.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_no3 = load_no3.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_no5 = load_no5.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})
load_se3 = load_se3.rename(columns={'Time (CET/CEST)': 'MTU (CET/CEST)'})

In [ ]:
# merging the load data into one dataframe on the date time column 'MTU (CET/CEST)'
load_data_frames = [load_no1, load_no2, load_no3, load_no5, load_se3]
loads = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), load_data_frames)

loads.head()

In [ ]:
# TODO: handle missing values: NB! Bytt til det endelige datasettet, itte det for prices!!!!!!!!!

In [ ]:
# checking data for missing values, if any
prices.isna().sum()

In [ ]:
# checking which row is missing values
null_data = prices[prices.isnull().any(axis=1)]

In [ ]:
null_data

This row is created as a result of the move from winter time to summer time

### Aggregation of energy generation data

In [ ]:
actual_generation_no1 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO1 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_no2 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO2 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_no3 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO3 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_no5 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/NO5 Actual Generation per Production Type_202201010000-202301010000.csv")
actual_generation_se3 = pd.read_csv("../datasets/wind_solar_fossil_biomass_and_others/SE3 Actual Generation per Production Type_202201010000-202301010000.csv")

In [ ]:
actual_generation_no1.head()

In [ ]:
actual_generation_no1.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO1', 'Fossil Brown coal/Lignite - BZN|NO1', 'Fossil Coal-derived gas - BZN|NO1', 'Fossil Gas - BZN|NO1', 'Fossil Hard coal - BZN|NO1', 'Fossil Oil - BZN|NO1', 'Fossil Oil shale - BZN|NO1', 'Fossil Peat - BZN|NO1', 'Geothermal - BZN|NO1', 'Hydro Pumped Storage Aggregated- BZN|NO1', 'Hydro Pumped Storage Consumption - BZN|NO1', 'Hydro Run-of-river and poundage - BZN|NO1', 'Hydro Water Reservoir - BZN|NO1', 'Marine - BZN|NO1', 'Nuclear - BZN|NO1', 'Other - BZN|NO1', 'Other renewable - BZN|NO1', 'Solar - BZN|NO1', 'Waste - BZN|NO1', 'Wind Offshore - BZN|NO1', 'Wind Onshore - BZN|NO1']
actual_generation_no2.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO2', 'Fossil Brown coal/Lignite - BZN|NO2', 'Fossil Coal-derived gas - BZN|NO2', 'Fossil Gas - BZN|NO2', 'Fossil Hard coal - BZN|NO2', 'Fossil Oil - BZN|NO2', 'Fossil Oil shale - BZN|NO2', 'Fossil Peat - BZN|NO2', 'Geothermal - BZN|NO2', 'Hydro Pumped Storage Aggregated- BZN|NO2', 'Hydro Pumped Storage Consumption - BZN|NO2', 'Hydro Run-of-river and poundage - BZN|NO1', 'Hydro Water Reservoir - BZN|NO2', 'Marine - BZN|NO2', 'Nuclear - BZN|NO2', 'Other - BZN|NO2', 'Other renewable - BZN|NO2', 'Solar - BZN|NO2', 'Waste - BZN|NO2', 'Wind Offshore - BZN|NO2', 'Wind Onshore - BZN|NO2']
actual_generation_no3.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO3', 'Fossil Brown coal/Lignite - BZN|NO3', 'Fossil Coal-derived gas - BZN|NO3', 'Fossil Gas - BZN|NO3', 'Fossil Hard coal - BZN|NO3', 'Fossil Oil - BZN|NO3', 'Fossil Oil shale - BZN|NO3', 'Fossil Peat - BZN|NO3', 'Geothermal - BZN|NO3', 'Hydro Pumped Storage Aggregated- BZN|NO3', 'Hydro Pumped Storage Consumption - BZN|NO3', 'Hydro Run-of-river and poundage - BZN|NO3', 'Hydro Water Reservoir - BZN|NO3', 'Marine - BZN|NO3', 'Nuclear - BZN|NO3', 'Other - BZN|NO3', 'Other renewable - BZN|NO3', 'Solar - BZN|NO3', 'Waste - BZN|NO3', 'Wind Offshore - BZN|NO3', 'Wind Onshore - BZN|NO3']
actual_generation_no5.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|NO5', 'Fossil Brown coal/Lignite - BZN|NO5', 'Fossil Coal-derived gas - BZN|NO5', 'Fossil Gas - BZN|NO5', 'Fossil Hard coal - BZN|NO5', 'Fossil Oil - BZN|NO5', 'Fossil Oil shale - BZN|NO5', 'Fossil Peat - BZN|NO5', 'Geothermal - BZN|NO5', 'Hydro Pumped Storage Aggregated- BZN|NO5', 'Hydro Pumped Storage Consumption - BZN|NO5', 'Hydro Run-of-river and poundage - BZN|NO5', 'Hydro Water Reservoir - BZN|NO5', 'Marine - BZN|NO5', 'Nuclear - BZN|NO5', 'Other - BZN|NO5', 'Other renewable - BZN|NO5', 'Solar - BZN|NO5', 'Waste - BZN|NO5', 'Wind Offshore - BZN|NO5', 'Wind Onshore - BZN|NO5']
actual_generation_se3.columns = ['Area','MTU (CET/CEST)','Biomass - BZN|SE3', 'Fossil Brown coal/Lignite - BZN|SE3', 'Fossil Coal-derived gas - BZN|SE3', 'Fossil Gas - BZN|SE3', 'Fossil Hard coal - BZN|SE3', 'Fossil Oil - BZN|SE3', 'Fossil Oil shale - BZN|SE3', 'Fossil Peat - BZN|SE3', 'Geothermal - BZN|SE3', 'Hydro Pumped Storage Aggregated- BZN|SE3', 'Hydro Pumped Storage Consumption - BZN|SE3', 'Hydro Run-of-river and poundage - BZN|SE3', 'Hydro Water Reservoir - BZN|SE3', 'Marine - BZN|SE3', 'Nuclear - BZN|SE3', 'Other - BZN|SE3', 'Other renewable - BZN|SE3', 'Solar - BZN|SE3', 'Waste - BZN|SE3', 'Wind Offshore - BZN|SE3', 'Wind Onshore - BZN|SE3']
actual_generation_no1.head()

In [ ]:
# Dropping area because we keep them as separate columns
actual_generation_no1 = actual_generation_no1.drop(['Area'], axis=1)
actual_generation_no2 = actual_generation_no2.drop(['Area'], axis=1)
actual_generation_no3 = actual_generation_no3.drop(['Area'], axis=1)
actual_generation_no5 = actual_generation_no5.drop(['Area'], axis=1)
actual_generation_se3 = actual_generation_se3.drop(['Area'], axis=1)
actual_generation_no1.head()

In [ ]:
actual_generation_dataframes = [actual_generation_no1, actual_generation_no2, actual_generation_no3, actual_generation_no5, actual_generation_se3]
actual_generation = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), actual_generation_dataframes)

actual_generation.head()

### Data Aggregation for import and export

We want to concatenate data for cross border physical flow between NO1 and neighbouring zones(NO2,NO3,NO5,SE3).

In [ ]:
NO1_NO2_import_export = pd.read_csv("../datasets/import_and_export/NO1-NO2 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
NO1_NO3_import_export = pd.read_csv("../datasets/import_and_export/NO1-NO3 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
NO1_NO5_import_export = pd.read_csv("../datasets/import_and_export/NO1-NO5 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
NO1_SE3_import_export = pd.read_csv("../datasets/import_and_export/NO1-SE3 Import export Cross-Border Physical Flow_202201010000-202301010000.csv")
NO1_NO2_import_export.head()

NO1_NO2_import_export.head()
In other data files the time unite is MTU (CET/CEST), this is not teh case for import and export data. To be consistent Time (CET/CEST) is changed to MTU (CET/CEST). To make it clear that 'BZN|NO2 > BZN|NO1 [MW]' shows the cross border physical flow , CBF is used as an abbreviation.

In [150]:
NO1_NO2_import_export.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|NO2 > BZN|NO1 [MW]' : 'CBF BZN|NO2 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|NO2 [MW]' : 'CBF BZN|NO1 > BZN|NO2 [MW]'}, inplace = True)
NO1_NO3_import_export.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|NO3 > BZN|NO1 [MW]' : 'CBF BZN|NO3 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|NO3 [MW]' : 'CBF BZN|NO1 > BZN|NO3 [MW]'}, inplace = True)
NO1_NO5_import_export.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|NO5 > BZN|NO1 [MW]' : 'CBF BZN|NO5 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|NO5 [MW]' : 'CBF BZN|NO1 > BZN|NO5 [MW]'}, inplace = True)
NO1_SE3_import_export.rename(columns = {'Time (CET/CEST)':'MTU (CET/CEST)', 'BZN|SE3 > BZN|NO1 [MW]' : 'CBF BZN|SE3 > BZN|NO1 [MW]', 'BZN|NO1 > BZN|SE3 [MW]' : 'CBF BZN|NO1 > BZN|SE3 [MW]'}, inplace = True)

In [151]:
NO1_NO2_import_export.head()

,MTU (CET/CEST),CBF BZN|NO2 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO2 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,1300.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,1242.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,1222.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,1679.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,1668.0,0.0

Concatenating all dataframes for import and export

In [152]:
import_export_dfs_NO1_neighbours = [NO1_NO2_import_export, NO1_NO3_import_export, NO1_NO5_import_export, NO1_SE3_import_export]
import_export_NO1_neighbours = reduce(lambda left, right: pd.merge(left,right, on=['MTU (CET/CEST)']), import_export_dfs_NO1_neighbours)

import_export_NO1_neighbours.head()

,MTU (CET/CEST),CBF BZN|NO2 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO2 [MW],CBF BZN|NO3 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO3 [MW],CBF BZN|NO5 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO5 [MW],CBF BZN|SE3 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|SE3 [MW]
0,01.01.2022 00:00 - 01.01.2022 01:00,1300.0,0.0,384.0,0.0,568.0,0.0,1038.0,0.0
1,01.01.2022 01:00 - 01.01.2022 02:00,1242.0,0.0,371.0,0.0,594.0,0.0,1065.0,0.0
2,01.01.2022 02:00 - 01.01.2022 03:00,1222.0,0.0,383.0,0.0,676.0,0.0,927.0,0.0
3,01.01.2022 03:00 - 01.01.2022 04:00,1679.0,0.0,362.0,0.0,436.0,0.0,748.0,0.0
4,01.01.2022 04:00 - 01.01.2022 05:00,1668.0,0.0,324.0,0.0,345.0,0.0,918.0,0.0