# exploratory data analysis - bidding zone NO1 and neighboring zones for the year of 2022

In [1]:
# importing dependencies to aggregate dataset
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

**About:**
Hourly electricity prices and external factors for bidding zone NO1 (Norway Østlandet) and neightbouring zones (NO2, NO3, NO5 and SE3).
**Source of the datasets data::** https://transparency.entsoe.eu/dashboard/show

**Attribute information:**

**Target feature:** 	**Day-ahead Price** Spot (day-ahead) market prices in the currency Euro per MWh (megawatt-hour).
1.	**Start MTU (UTC):** Start datetime of the interval for the measured values
2.	**Start MTU (UTC):** End time of the interval for the measured values
3.	**Actual Total Load:** The power consumption in each zone per MW (megawatt)
4.	**Biomass:** Energy production in MW  from Biomass.
5.	**Fossil Gas:** Energy production in MW  from Fossil Gas.
6.	**Hydro Run-of-river and poundage:** Energy production in MW  from Hydro Run-of-river and poundage.
7.	**Hydro Water Reservoir:** Energy production in MW  from Hydro Run-of-river and poundage.
8.	**Wind Onshore:** Energy production in MW  from onshore wind.
9.	**Hydro Pumped Storage Aggregated:** Energy production in MW  from Hydro Pumped Storage Aggregated.
10.	**Hydro Run-of-river and poundage:** Energy production in MW  from Hydro Run-of-river and poundage
11.	**Other renewable:** Energy production in MW  from Other renewable.
12.	**Marine:** Energy production in MW  from Marine.
13.	**Solar:** Energy production in MW  from Solar.
14.	**CBF BZN|x > BZN|y [MWh]:**  Cross-border physical flow in MWH (mega watt hour), zone x is export zone and zone y is import zone.
15.	**Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh]:** Stored Energy Value in Water Reservoirs and Hydro Storage Plants measured in MwH (mega watt hour)

In [2]:
# reding in the dataset to a dataframe
no1 = pd.read_csv('../datasets/no1_aggregated/no1_2020_to_2022_aggregated.csv', index_col=0)

# printing out he 5 first rows of the dataset
no1.head()

,start MTU (UTC),end MTU (UTC),Day-ahead Price [EUR/MWh] BZN|NO1,Day-ahead Price [EUR/MWh] BZN|NO2,Day-ahead Price [EUR/MWh] BZN|NO3,Day-ahead Price [EUR/MWh] BZN|NO5,Day-ahead Price [EUR/MWh] BZN|SE3,Actual Total Load [MW] - BZN|NO1,Actual Total Load [MW] - BZN|NO2,Actual Total Load [MW] - BZN|NO3,...,CBF BZN|NO1 > BZN|NO3 [MW],CBF BZN|NO5 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|NO5 [MW],CBF BZN|SE3 > BZN|NO1 [MW],CBF BZN|NO1 > BZN|SE3 [MW],Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO1,Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO2,Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO3,Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO5,Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|SE3
0,2020-01-01 00:00:00,2020-01-01 01:00:00,31.77,31.77,28.45,31.77,28.45,4333.0,4139.0,3016.0,...,0.0,1449.0,0.0,391,0,3.962493e+06,2.438936e+07,5.608103e+06,1.119240e+07,2.209379e+06
1,2020-01-01 01:00:00,2020-01-01 02:00:00,31.57,31.57,27.90,31.57,27.90,4250.0,4114.0,2945.0,...,0.0,1283.0,0.0,348,0,3.961448e+06,2.439155e+07,5.608290e+06,1.119184e+07,2.209164e+06
2,2020-01-01 02:00:00,2020-01-01 03:00:00,31.28,31.28,27.52,31.28,27.52,4167.0,4030.0,3032.0,...,6.0,962.0,0.0,500,0,3.960404e+06,2.439372e+07,5.608466e+06,1.119128e+07,2.208948e+06
3,2020-01-01 03:00:00,2020-01-01 04:00:00,30.72,30.72,27.54,30.72,27.54,4145.0,4032.0,2988.0,...,6.0,767.0,0.0,610,0,3.959359e+06,2.439589e+07,5.608632e+06,1.119071e+07,2.208733e+06
4,2020-01-01 04:00:00,2020-01-01 05:00:00,30.27,30.27,26.55,30.27,26.55,4222.0,4032.0,2848.0,...,22.0,642.0,0.0,909,0,3.958314e+06,2.439805e+07,5.608788e+06,1.119013e+07,2.208518e+06

In [3]:
# printing out the shape of the dataset
no1.shape

(26304, 57)

In [4]:
# printing out info about dataset
no1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26304 entries, 0 to 26303
Data columns (total 57 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   start MTU (UTC)                                                                26304 non-null  object
 1   end MTU (UTC)                                                                  26304 non-null  object
 2   Day-ahead Price [EUR/MWh] BZN|NO1                                              26304 non-null  float64
 3   Day-ahead Price [EUR/MWh] BZN|NO2                                              26304 non-null  float64
 4   Day-ahead Price [EUR/MWh] BZN|NO3                                              26304 non-null  float64
 5   Day-ahead Price [EUR/MWh] BZN|NO5                                              26304 non-null  float64
 6   Day-ahead Price [EUR/MWh] BZN|SE3                                              26304 non-null  float64
 7   Actual Total Load [MW] - BZN|NO1                                               26303 non-null  float64
 8   Actual Total Load [MW] - BZN|NO2                                               26303 non-null  float64
 9   Actual Total Load [MW] - BZN|NO3                                               26303 non-null  float64
 10  Actual Total Load [MW] - BZN|NO5                                               26303 non-null  float64
 11  Actual Total Load [MW] - BZN|SE3                                               26304 non-null  int64
 12  Biomass - BZN|NO1                                                              26291 non-null  float64
 13  Fossil Gas - BZN|NO1                                                           26299 non-null  float64
 14  Hydro Run-of-river and poundage - BZN|NO1                                      26299 non-null  float64
 15  Hydro Water Reservoir - BZN|NO1                                                26299 non-null  float64
 16  Waste - BZN|NO1                                                                26299 non-null  float64
 17  Wind Onshore - BZN|NO1                                                         26299 non-null  float64
 18  Fossil Gas - BZN|NO2                                                           26298 non-null  float64
 19  Hydro Pumped Storage Aggregated- BZN|NO2                                       26299 non-null  float64
 20  Hydro Run-of-river and poundage - BZN|NO2                                      26299 non-null  float64
 21  Hydro Water Reservoir - BZN|NO2                                                26299 non-null  float64
 22  Waste - BZN|NO2                                                                26299 non-null  float64
 23  Wind Onshore - BZN|NO2                                                         26299 non-null  float64
 24  Fossil Gas - BZN|NO3                                                           26299 non-null  float64
 25  Hydro Pumped Storage Aggregated- BZN|NO3                                       26299 non-null  float64
 26  Hydro Run-of-river and poundage - BZN|NO3                                      26299 non-null  float64
 27  Hydro Water Reservoir - BZN|NO3                                                26299 non-null  float64
 28  Other - BZN|NO3                                                                26299 non-null  float64
 29  Other renewable - BZN|NO3                                                      26231 non-null  float64
 30  Waste - BZN|NO3                                                                26299 non-null  float64
 31  Wind Onshore - BZN|NO3                                                         26299 non-null  float64
 32  Fossil Gas - BZN|NO5                                                           26299 non-null  float64
 33  Hydro Pumped Storage Aggregated- BZN|NO5                                       26299 non-null  float64
 34  Hydro Run-of-river and poundage - BZN|NO5                                      26299 non-null  float64
 35  Hydro Water Reservoir - BZN|NO5                                                26299 non-null  float64
 36  Waste - BZN|NO5                                                                26299 non-null  float64
 37  Fossil Gas - BZN|SE3                                                           26303 non-null  float64
 38  Hydro Water Reservoir - BZN|SE3                                                26303 non-null  float64
 39  Marine - BZN|SE3                                                               26280 non-null  float64
 40  Nuclear - BZN|SE3                                                              26303 non-null  float64
 41  Other - BZN|SE3                                                                26303 non-null  float64
 42  Solar - BZN|SE3                                                                26303 non-null  float64
 43  Wind Onshore - BZN|SE3                                                         26303 non-null  float64
 44  CBF BZN|NO2 > BZN|NO1 [MW]                                                     26273 non-null  float64
 45  CBF BZN|NO1 > BZN|NO2 [MW]                                                     26273 non-null  float64
 46  CBF BZN|NO3 > BZN|NO1 [MW]                                                     26273 non-null  float64
 47  CBF BZN|NO1 > BZN|NO3 [MW]                                                     26273 non-null  float64
 48  CBF BZN|NO5 > BZN|NO1 [MW]                                                     26273 non-null  float64
 49  CBF BZN|NO1 > BZN|NO5 [MW]                                                     26273 non-null  float64
 50  CBF BZN|SE3 > BZN|NO1 [MW]                                                     26304 non-null  int64
 51  CBF BZN|NO1 > BZN|SE3 [MW]                                                     26304 non-null  int64
 52  Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO1  26304 non-null  float64
 53  Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO2  26304 non-null  float64
 54  Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO3  26304 non-null  float64
 55  Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO5  26304 non-null  float64
 56  Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|SE3  26304 non-null  float64
dtypes: float64(52), int64(3), object(2)
memory usage: 11.6+ MB

We Can see that the datetime columns are of the data type object, so we ned to convert it into the data type datetime. The remaining values seems to have an appropriate data type. We also notice that the value onthe 'non-null count' of allot of the columns are less than the size of the dataset (26304), and we therefore know that allot of the features have missing values. We should therefore investigate which values are misssing, and handle the missing values accordingly.

In [5]:
# converting datetime columns to data type datetime
no1['start MTU (UTC)'] = pd.to_datetime(no1['start MTU (UTC)'])
no1['start MTU (UTC)'] = pd.to_datetime(no1['start MTU (UTC)'])

In [6]:
# printing out summary of missing values in the dataset:
no1.isna().sum()

start MTU (UTC)                                                                   0
end MTU (UTC)                                                                     0
Day-ahead Price [EUR/MWh] BZN|NO1                                                 0
Day-ahead Price [EUR/MWh] BZN|NO2                                                 0
Day-ahead Price [EUR/MWh] BZN|NO3                                                 0
Day-ahead Price [EUR/MWh] BZN|NO5                                                 0
Day-ahead Price [EUR/MWh] BZN|SE3                                                 0
Actual Total Load [MW] - BZN|NO1                                                  1
Actual Total Load [MW] - BZN|NO2                                                  1
Actual Total Load [MW] - BZN|NO3                                                  1
Actual Total Load [MW] - BZN|NO5                                                  1
Actual Total Load [MW] - BZN|SE3                                                  0
Biomass - BZN|NO1                                                                13
Fossil Gas - BZN|NO1                                                              5
Hydro Run-of-river and poundage - BZN|NO1                                         5
Hydro Water Reservoir - BZN|NO1                                                   5
Waste - BZN|NO1                                                                   5
Wind Onshore - BZN|NO1                                                            5
Fossil Gas - BZN|NO2                                                              6
Hydro Pumped Storage Aggregated- BZN|NO2                                          5
Hydro Run-of-river and poundage - BZN|NO2                                         5
Hydro Water Reservoir - BZN|NO2                                                   5
Waste - BZN|NO2                                                                   5
Wind Onshore - BZN|NO2                                                            5
Fossil Gas - BZN|NO3                                                              5
Hydro Pumped Storage Aggregated- BZN|NO3                                          5
Hydro Run-of-river and poundage - BZN|NO3                                         5
Hydro Water Reservoir - BZN|NO3                                                   5
Other - BZN|NO3                                                                   5
Other renewable - BZN|NO3                                                        73
Waste - BZN|NO3                                                                   5
Wind Onshore - BZN|NO3                                                            5
Fossil Gas - BZN|NO5                                                              5
Hydro Pumped Storage Aggregated- BZN|NO5                                          5
Hydro Run-of-river and poundage - BZN|NO5                                         5
Hydro Water Reservoir - BZN|NO5                                                   5
Waste - BZN|NO5                                                                   5
Fossil Gas - BZN|SE3                                                              1
Hydro Water Reservoir - BZN|SE3                                                   1
Marine - BZN|SE3                                                                 24
Nuclear - BZN|SE3                                                                 1
Other - BZN|SE3                                                                   1
Solar - BZN|SE3                                                                   1
Wind Onshore - BZN|SE3                                                            1
CBF BZN|NO2 > BZN|NO1 [MW]                                                       31
CBF BZN|NO1 > BZN|NO2 [MW]                                                       31
CBF BZN|NO3 > BZN|NO1 [MW]                                                       31
CBF BZN|NO1 > BZN|NO3 [MW]                                                       31
CBF BZN|NO5 > BZN|NO1 [MW]                                                       31
CBF BZN|NO1 > BZN|NO5 [MW]                                                       31
CBF BZN|SE3 > BZN|NO1 [MW]                                                        0
CBF BZN|NO1 > BZN|SE3 [MW]                                                        0
Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO1     0
Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO2     0
Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO3     0
Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|NO5     0
Stored Energy Value Water Reservoirs and Hydro Storage Plants [MWh] - BZN|SE3     0
dtype: int64

We can now see which features are missing values, and how many values are missing from each feature. We will handle the missing values feature by feature starting with 'Actual Total Load [MW]'

We can start by checking which rows are missing values for the load attributes:

In [19]:
# creating a list of load column names
load_column_names = [col_name for col_name in no1.columns if 'Actual Total Load' in col_name]
print(load_column_names)
                    

# checking which row is missing values for column 'Actual Total Load [MW] - BZN|NO1'
no1[no1['Actual Total Load [MW] - BZN|NO1'].isnull()].loc[:, load_column_names]

['Actual Total Load [MW] - BZN|NO1', 'Actual Total Load [MW] - BZN|NO2', 'Actual Total Load [MW] - BZN|NO3', 'Actual Total Load [MW] - BZN|NO5', 'Actual Total Load [MW] - BZN|SE3']

,Actual Total Load [MW] - BZN|NO1,Actual Total Load [MW] - BZN|NO2,Actual Total Load [MW] - BZN|NO3,Actual Total Load [MW] - BZN|NO5,Actual Total Load [MW] - BZN|SE3
16057,NaN,NaN,NaN,NaN,7786

It seems like none of the Norwegian bidding zones have recorded data for the time interval 31.10.2021 01:00 - 31.10.2021 02:00.

Since it is a dingle row with a missing vlaue, we can simply impute the missing value through interpolation which uses the neighbouring values to generate an the missing intermediary value. We choose to use spline interpolation which estimates the missing values while focusing on minimizing the curvature  of the value graph.

In [20]:
# performing splilne inerpolation to fill missing values in load columns
no1['Actual Total Load [MW] - BZN|NO1'] = no1['Actual Total Load [MW] - BZN|NO1'].interpolate(option='spline')
no1['Actual Total Load [MW] - BZN|NO2'] = no1['Actual Total Load [MW] - BZN|NO2'].interpolate(option='spline')
no1['Actual Total Load [MW] - BZN|NO3'] = no1['Actual Total Load [MW] - BZN|NO3'].interpolate(option='spline')
no1['Actual Total Load [MW] - BZN|NO5'] = no1['Actual Total Load [MW] - BZN|NO5'].interpolate(option='spline')
no1['Actual Total Load [MW] - BZN|SE3'] = no1['Actual Total Load [MW] - BZN|SE3'].interpolate(option='spline')

# checking if all the missing values in load columns have been filled:
no1.loc[:, load_column_names].isna().sum()

Actual Total Load [MW] - BZN|NO1    0
Actual Total Load [MW] - BZN|NO2    0
Actual Total Load [MW] - BZN|NO3    0
Actual Total Load [MW] - BZN|NO5    0
Actual Total Load [MW] - BZN|SE3    0
dtype: int64

We can see that none of the load columns have any missing values